*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
laravel-tmp/
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
Homestead.json
Homestead.yaml
Thumbs.db

# Laravel (innerhalb src/)
src/.env
src/.env.backup
src/.env.production
src/.env.local
src/node_modules/
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/storage/pail
src/vendor/

# Frontend Build-Artefakte
src/public/frontend/
src/frontend/node_modules/
src/frontend/dist/
